# Server
PORT=5000
NODE_ENV=development

# Database
# Session
SESSION_SECRET=your_session_secret_here_change_in_production
QR_SECRET_KEY=your_qr_secret_key_here_change_in_production

# acess urls
CLIENT_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000

#database and storage
DATABASE_URL=postgres://postgres:your_password_here@localhost:5432/bora_ticketing
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_role_key

#oauthgoogle
GOOGLE_CLIENT_ID=clientid
GOOGLE_CLIENT_SECRET=googlesecret
